@mixin heightPage {
    max-width: 100%;
    height: 100vh;
    position: relative;
}

@mixin responsive {
    @media (max-width: 1060px) {
      @content;
    }
  }

  @mixin responsiveHalf {
    @media (max-width: 800px) {
      @content;
    }
  }

  @mixin responsiveHalfMobile {
    @media (max-width: 500px) {
      @content;
    }
  }


  @mixin responsiveMobile {
    @media (max-width: 400px) {
      @content;
    }
  }