h1::selection {
    background-color: #23A384;
    color: #fff;
}

h2::selection {
    background-color: #23A384;
    color: #fff;
}

li::selection {
    background-color: #23A384;
    color: #fff;
}

p::selection {
    background-color: #23A384;
    color: #fff;
}