
.hamburger-inner[data-v-3c97e6ba], .hamburger-inner[data-v-3c97e6ba]::before, .hamburger-inner[data-v-3c97e6ba]::after {
    width: 30px;
    height: 2px;
}

.hamburger-inner[data-v-3c97e6ba], .hamburger-inner[data-v-3c97e6ba]::before, .hamburger-inner[data-v-3c97e6ba]::after {
    background-color: #fff;
}

.hamburger.is-active .hamburger-inner[data-v-3c97e6ba], .hamburger.is-active .hamburger-inner[data-v-3c97e6ba]::before, .hamburger.is-active .hamburger-inner[data-v-3c97e6ba]::after {
    background-color: #fff;
}